PORT=PORT_NUMBER

MONGODB_URI=YOUR_URI

JWT_SECRET=GENERATE_YOUR_RANDOM_KEY
JWT_EXPIRES=EXPIRES TIME

URL=FRONTEND_URL

EMAIL_SERVICE=YOUR_EMAIL_SERVICE
EMAIL_USERNAME=YOUR_EMAIL_USERNAME
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD
EMAIL_FROM=YOUR_EMAIL_FROM